<div class="container"> 
  <div class="samovar"></div>
  <div class="bio">
    <p><b>Hi!</b> My name is Stephanie Yeung. I'm a software engineer with an eye for design. I'll be building things at <a href="http://medium.com" target="_blank">Medium</a> in the near future. I'm a recent graduate of Carnegie Mellon, newly transplanted to sunny San Francisco. Here's my probably-not-completely-up-to-date <a href="https://dl.dropboxusercontent.com/u/18137431/yeung_resume.pdf">r&eacute;sum&eacute;</a>.</p>

    <p>I enjoy jigsaw puzzles, crosswords, and burgers. I also make some mean roasted brussels sprouts. I think I'm a better wannabe <a href="http://instagram.com/stephbytes" target="_blank">photographer</a> than <a href="http://medium.com/@stephyeung" target="_blank">writer</a>, though I sometimes wish I wrote more. Well, I do write <a href="http://github.com/yeungsteph" target="_blank">code</a> at least, and collaborate on <a href="http://stephanieyeung.tumblr.com" target="_blank">projects</a> sometimes with awesome people.</p>

    <p>
      <i class="fa fa-twitter"></i> <a href="http://twitter.com/stephyeung" target="_blank">@stephyeung</a><br />
      <i class="fa fa-envelope"></i> <a href="mailto:stephaniexyeung@gmail.com" target="_blank">@gmail.com</a> 
    </p>
  </div>
</div>