<div class="samovar"><span class="photo-credit">Photo by Xixia Wang</span></div>
<div class="bio">
  <p><b>Hi!</b> My name is Stephanie Yeung. I'm a software engineer with an eye for design. I'm currently building things at <a href="http://medium.com" target="_blank">Medium</a>. Here's my not-completely-up-to-date <a href="https://dl.dropboxusercontent.com/u/18137431/yeung_resume.pdf">r&eacute;sum&eacute;</a>.</p>

  <p>I enjoy jigsaw puzzles, crosswords, and burgers. I also make some mean roasted brussels sprouts, and guacamole. I think I'm a better wannabe <a href="http://instagram.com/stephbytes" target="_blank">photographer</a> than <a href="http://medium.com/@steph" target="_blank">writer</a>. The other writing I do is <a href="http://github.com/yeungsteph" target="_blank">code</a> &mdash;sometimes with other awesome people for random <a href="http://stephanieyeung.tumblr.com" target="_blank">projects</a>.</p>

  <p>
    <i class="fa fa-twitter"></i> <a href="http://twitter.com/stephyeung" target="_blank">@stephyeung</a><br />
    <i class="fa fa-envelope"></i> <a href="mailto:stephaniexyeung@gmail.com" target="_blank">@gmail.com</a> 
  </p>
</div>